.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(40, 42, 43, 0.9);
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 20px;
    border-color: bisque;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 10.3rem;
}
.card-weather-status, .high, .low{
    color: white;
    font-size: 16px;
}
.weather-cards{
  display: flex;
  justify-content: center;
  
}
.card-date{
  font-size: 25px;
  font-weight: bold;
  color:white;
}
.low, .high {
    padding: .5rem;
    margin: .5rem 0 1rem 0;
    font-size: 23px;
}
.temp{
    display: flex;
    justify-content: center;
}
.card-img{
    height: 80px;
    width: 160px;
    margin-left: auto;
    margin-right: auto ;
}
@media screen and (min-width:579px) and (max-width: 1180px) {
    .weather-cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 24rem;
        padding: 0;
    }
    .card-img {
    height: 100px;
    width: 200px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.low,.high{
        margin: 0 0 1rem 0;
    }
}

@media screen and (max-width: 578px) {
    .weather-cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 10rem;
        padding: 1.5rem;
    }
    .low,.high{
        margin: 0;
    }
}