.footer-section {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: rgba(40, 42, 43, 0.9);
  padding-bottom: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 579px) and (max-width: 1180px) {
  .footer-section {
    position: fixed;
    width: 100vw;
    left:0;
  }
}
@media screen and (max-width: 578px){
    .footer-section {
    position: fixed;
    width: 100vw;
    left:0;
  }
}
