.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.top-section{
  height: 25vh;
  width: 100%;
  background-image: url("/assets/background-top.png");
  background-size: cover;
  height: 45vh;
}
.weather-cards{
  flex: 1;
}
