.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.top-section{
  margin: 5rem auto 2rem auto;
  background-color: rgba(40, 42, 43, 0.9);
  height: 20vh;
  width: 91%;
  border-radius: 20px;

}
.weather-cards{
  flex: 1;
}
